.a_background_footer_nova, .a_background_header_nova, .a_report_layout_background_nova {
    color: gray('700');
}
.a_background_header_nova {
    min-width: 900px;
    border-bottom: 1px solid gray('200');
    .company_address {
        min-width: 300px;

    }

    img {
        max-height: 150px;
        max-width: 230px;
        height: 150px;
        width: 230px;
        margin-right: 16px;
    }
    h3 {
        color: $o-brand-odoo;
        font-weight: 700;
        font-size: 0.5rem;
        max-width: 300px;
    }
    strong {
        color: $o-default-report-secondary-color;
        font-size: 0.9rem;
    }
}

.a_report_layout_background_nova {
    background-image: url(/informes_invoice/static/src/img/bg_background_template1.jpg);
    background-size: 100% 80%;
    background-position: bottom center;
    background-repeat: repeat-y;
    min-height: 620px;

    .address div{
        font-size: 0.7rem;
    }
    strong {
        color: $o-default-report-secondary-color;
        font-size: 0.9rem;
    }
    p {
        color: $o-default-report-secondary-color;
        font-size: 0.7rem;
    }
    .table {
        border-top: 1px solid gray('300');
    }

    .table td, .table th {
        border-top: none;
    }
    h2 {
        color: $o-default-report-primary-color;
        font-size: 1.5rem;
    }
    thead tr th {
        color: $o-default-report-secondary-color;
        font-size: .7rem;
    }
    tbody {
        color: gray('700');
        tr{
            &:nth-child(odd) {
                background-color: rgba(220, 205, 216, 0.2);
                font-size: .7rem;
            }
            &:nth-child(even) {
                background-color: rgba(220, 205, 216, 0.2);
                font-size: .7rem;
            }
            &.o_line_section {
                color: $o-brand-odoo;
                background-color: rgba(73, 80, 87, 0.2) !important;

            }
        }
    }
    /*Total table*/
    .row > div > table,
    div#total table {
        tr {
            &:nth-child(odd) {
                background-color: transparent !important;
            }
            /* first-child & last-child rule compat 12.0 */
            &:first-child,
            &:last-child,
            &.o_subtotal,
            &.o_total {
                border-top: none !important;
                td {
                    border-top: 1px solid gray('400') !important;
                }
                strong {
                    color: $o-default-report-primary-color;
                }
            }
        }
    }
}

.a_background_footer_nova {

    .list-inline-item {
        white-space: nowrap;
    }
    ul {
        border-top: 1px solid $o-brand-odoo;
        border-bottom: 1px solid $o-brand-odoo;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: $o-brand-odoo;
        }
    }
}

.o_in_iframe {
    .o_background_header_nova {
        min-width: 0;
    }
}
